/*//////////////////////////////////////////////////////////
// N A V B A R
//////////////////////////////////////////////////////////*/

.navbar { z-index: 9999; margin-top: 0 !important; }
.navbar-default { background-color: #050028; border-color: #9c640c; }

/* Navbar Text */
.navbar-default .navbar-brand {
    font-family: 'kingthings_wroteregular', Verdana, serif;
    color: #9c640c;
    background-color: transparent;
    padding: 18px 15px;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover { color: #38335B; background-color: transparent; }

/* Navbar Links */
.navbar-default .navbar-nav > li > a { font-family: 'montserratmedium', Verdana, serif; color: #9c640c; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #9c640c; background-color: #38335B; }

/* Navbar Links - Toggle */
.navbar-default .navbar-toggle { border-color: #9c640c; }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { color: #9c640c; background-color: #38335B; }

/*//////////////////////////////////////////////////////////
// I M A G E S
//////////////////////////////////////////////////////////*/

img#shopfront {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Row of Images */
.row-of-img { display: flex;}
.row-of-img > div:not(:last-child) { margin-right: 2%; }
.img1 { flex: 1; }
.img2 { flex: 0.768; }
.img3 { flex: 0.8; }
.scaled-img { max-width: 100%; height: auto; }

/*//////////////////////////////////////////////////////////
// M O B I L E   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (max-width: 480px) {

    /*//////////////////////////////////////////////////////////
    // L A Y O U T
    //////////////////////////////////////////////////////////*/

    body{
        background-color: #38335B;
    }
    section {
        display: inline;
        position: relative;
        z-index: 8;
    }
    section h2:first-child { margin-top: 0; }
    .container-fluid { margin-top: 65px; }

    /* Jumbotron */
    .jumbotron { background-color: #050028; }
    .jumbotron h2 { 
        font-family: 'kingthings_wroteregular', Verdana, serif;
        font-style: bold;
        font-size: 2vw;
        color: #9c640c;
        padding-bottom: 0.8%;
        text-align: center;
    }
    .jumbotron p {
        font-family: 'montserratmedium', Verdana, serif;
        font-size: 1vw;
        color: #9c640c;
        text-align: center;
    }

    /* About Section */
    .slogan p { font-style: italic !important; padding-bottom: 0.8%; }
    .about-standard-services p { font-style: normal; padding-top: 1.5%; }
    .about-special-services p { font-style: normal; }
    .opening-hours p { 
        font-family: 'kingthings_wroteregular', Verdana, serif !important;
        font-size: 1.8vw;
        padding-top: 0.8%;
    }
    .opening-hours table {
        font-family: 'montserratsemibold', Verdana, serif;
        font-size: 1vw;
        color: #9c640c;
        margin-left: auto;
        margin-right: auto;
    }
    .opening-hours th { text-align: right; }

    /* Contact Us Section */
    .jumbotron#contact-info div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5%;       
    }
    .jumbotron#contact-info img {
        height: auto;
        max-width: 0.9%;
        display: inline-block;
        vertical-align: middle;
    }
    .jumbotron#contact-info span {
        font-family: 'montserratmedium', Verdana, serif;
        font-size: 0.8vw;
        color: #9c640c;
        padding-left: 0.8%;
    }
    .jumbotron#contact-info a {
        font-family: 'montserratmedium', Verdana, serif;
        font-style: italic;
        font-size: 0.8vw;
        color: #9c640c;
        padding-left: 0.8%;
    }

    /* Jawg Map */
    .jawg-container {
        position: relative;
        padding-bottom: 30%;
        height: 0;
        overflow: hidden;
        margin-bottom: 1.8%;
    }
    .jawg-container iframe {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Footer */
    footer {
        background-color: #050028;
        padding: 2% 0;
        margin-top: 0;
    }
    footer .col-xs-4 { text-align: center; }
    footer img { height: auto; max-width: 50%; }
    footer h3 { 
        font-family: 'montserratmedium', Verdana, serif;
        font-size: 0.8vw;
        text-align: center;
        color: #693100;
        padding-bottom: 1%;
    }
}

/*//////////////////////////////////////////////////////////
// P C   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (min-width: 961px) {

    /*//////////////////////////////////////////////////////////
    // L A Y O U T
    //////////////////////////////////////////////////////////*/

    body{
        background-color: #38335B;
    }
    section {
        display: inline;
        position: relative;
        z-index: 8;
    }
    section h2:first-child { margin-top: 0; }
    .container-fluid { margin-top: 65px; }

    /* Jumbotron */
    .jumbotron { background-color: #050028; }
    .jumbotron h2 { 
        font-family: 'kingthings_wroteregular', Verdana, serif;
        font-style: bold;
        font-size: 2vw;
        color: #9c640c;
        padding-bottom: 0.8%;
        text-align: center;
    }
    .jumbotron p {
        font-family: 'montserratmedium', Verdana, serif;
        font-size: 1vw;
        color: #9c640c;
        text-align: center;
    }

    /* About Section */
    .slogan p { font-style: italic !important; padding-bottom: 0.8%; }
    .about-standard-services p { font-style: normal; padding-top: 1.5%; }
    .about-special-services p { font-style: normal; }
    .opening-hours p { 
        font-family: 'kingthings_wroteregular', Verdana, serif !important;
        font-size: 1.8vw;
        padding-top: 0.8%;
    }
    .opening-hours table {
        font-family: 'montserratsemibold', Verdana, serif;
        font-size: 1vw;
        color: #9c640c;
        margin-left: auto;
        margin-right: auto;
    }
    .opening-hours th { text-align: right; }

    /* Contact Us Section */
    .jumbotron#contact-info div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5%;       
    }
    .jumbotron#contact-info img {
        height: auto;
        max-width: 0.9%;
        display: inline-block;
        vertical-align: middle;
    }
    .jumbotron#contact-info span {
        font-family: 'montserratmedium', Verdana, serif;
        font-size: 0.8vw;
        color: #9c640c;
        padding-left: 0.8%;
    }
    .jumbotron#contact-info a {
        font-family: 'montserratmedium', Verdana, serif;
        font-style: italic;
        font-size: 0.8vw;
        color: #9c640c;
        padding-left: 0.8%;
    }

    /* Jawg Map */
    .jawg-container {
        position: relative;
        padding-bottom: 30%;
        height: 0;
        overflow: hidden;
        margin-bottom: 1.8%;
    }
    .jawg-container iframe {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Footer */
    footer {
        background-color: #050028;
        padding: 2% 0;
        margin-top: 0;
    }
    footer .col-xs-4 { text-align: center; }
    footer img { height: auto; max-width: 50%; }
    footer h3 { 
        font-family: 'montserratmedium', Verdana, serif;
        font-size: 0.8vw;
        text-align: center;
        color: #693100;
        padding-bottom: 1%;
    }
}

/*//////////////////////////////////////////////////////////
// F O N T S
//////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'kingthings_wroteregular';
    src: url('../css/fonts/kingthings_wrote-webfont.woff2') format('woff2'),
         url('../css/fonts/kingthings_wrote-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../css/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../css/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../css/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
