/*//////////////////////////////////////////////////////////
// N A V B A R
//////////////////////////////////////////////////////////*/

.navbar { z-index: 9999; margin-top: 0 !important; }
.navbar-default { background-color: #050028; border-color: #9c640c; }

/* Navbar Brand */
.navbar-default .navbar-brand {
    font-family: 'kingthings_wroteregular', Verdana, serif;
    color: #9c640c;
    background-color: transparent;
    padding: 18px 15px;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover { color: #38335B; background-color: transparent; }

/* Navbar Links */
.navbar-default .navbar-nav > li > a { font-family: 'montserratmedium', Verdana, serif; color: #9c640c; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #9c640c; background-color: #38335B; }

/* Navbar Links - Toggle */
.navbar-default .navbar-toggle { border-color: #9c640c; }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { color: #9c640c; background-color: #38335B; }

/*//////////////////////////////////////////////////////////
// I M A G E S
//////////////////////////////////////////////////////////*/

img#shopfront {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Row of Images */
.row-of-img { display: flex;}
.row-of-img > div:not(:last-child) { margin-right: 2%; }
.img1 { flex: 1; }
.img2 { flex: 0.768; }
.img3 { flex: 0.8; }
.scaled-img { max-width: 100%; height: auto; }

/*//////////////////////////////////////////////////////////
// L A Y O U T   C R O S S   P L A T F O R M
//////////////////////////////////////////////////////////*/

body{ background-color: #38335B; }
section {
    display: inline;
    position: relative;
    z-index: 8;
}
section h2:first-child { margin-top: 0; }
.container-fluid { margin-top: 65px; }

/* Jumbotron */
.jumbotron { background-color: #050028; }
.jumbotron h2 { 
    font-family: 'kingthings_wroteregular', Verdana, serif;
    font-style: bold;
    color: #9c640c;
    padding-bottom: 0.8%;
    text-align: center;
}
.jumbotron p {
    font-family: 'montserratmedium', Verdana, serif;
    color: #9c640c;
    text-align: center;
}

/* About Section */
.slogan p { font-style: italic !important; padding-bottom: 0.8%; }
.jumbotron#opening-hours table {
    font-family: 'montserratsemibold', Verdana, serif;
    color: #9c640c;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron#opening-hours th { text-align: right; }

/* Contact Us Section */
.jumbotron#contact-info div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron#contact-info img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.jumbotron#contact-info span {
    font-family: 'montserratmedium', Verdana, serif;
    color: #9c640c;
}
.jumbotron#contact-info a {
    font-family: 'montserratmedium', Verdana, serif;
    font-style: italic;
    color: #9c640c;
}
.map-container {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.8%;
}
.map-container iframe {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
footer { background-color: #050028; margin-top: 0 !important; }
footer .col-xs-4 { text-align: center; }
footer h3 { 
    font-family: 'montserratmedium', Verdana, serif;
    text-align: center;
    color: #693100;
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   M O B I L E   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (max-width: 480px) {

    /* Jumbotron */
    .jumbotron h2 { font-size: 4vw; }
    .jumbotron p { font-size: 3vw; }

    /* About Section */
    .about-standard-services p { padding-top: 5%; }
    .jumbotron#opening-hours { padding-top: 9%; }
    .jumbotron#opening-hours table { font-size: 3vw; }

    /* Contact Us Section */
    .jumbotron#contact-info { margin-bottom: 2%; }
    .jumbotron#contact-info div { padding-top: 2.5%; }
    .jumbotron#contact-info img { max-width: 4%; }
    .jumbotron#contact-info span { font-size: 2vw; padding-left: 1.5%; }
    .jumbotron#contact-info a { font-size: 2vw; padding-left: 1.5%; }
    .map-container { padding-bottom: 100%; }

    /* Footer */
    footer { padding: 2% 0; }
    footer img {
        height: auto;
        max-width: 100%;
        margin-bottom: 10%
    }
    footer h3 { font-size: 2.5vw; padding-bottom: 1%; }
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   P C   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (min-width: 961px) {

    /* Jumbotron */
    .jumbotron h2 { font-size: 2vw; }
    .jumbotron p { font-size: 1vw; }

    /* About Section */
    .about-standard-services p { padding-top: 1.5%; }
    .jumbotron#opening-hours { padding-top: 3%; }
    .jumbotron#opening-hours table { font-size: 1vw; }

    /* Contact Us Section */
    .jumbotron#contact-info div { padding-top: 0.5%; }
    .jumbotron#contact-info img { max-width: 0.9%; }
    .jumbotron#contact-info span { font-size: 0.8vw; padding-left: 0.8%; }
    .jumbotron#contact-info a { font-size: 0.8vw; padding-left: 0.8%; }
    .map-container { padding-bottom: 30%; }

    /* Footer */
    footer { padding: 2% 0; }
    footer img { height: auto; max-width: 50%; }
    footer h3 { font-size: 0.8vw; padding-bottom: 1%; }
}

/*//////////////////////////////////////////////////////////
// F O N T S
//////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'kingthings_wroteregular';
    src: url('../css/fonts/kingthings_wrote-webfont.woff2') format('woff2'),
         url('../css/fonts/kingthings_wrote-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../css/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../css/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratmedium';
    src: url('../css/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
