/*//////////////////////////////////////////////////////////
// L A Y O U T   C R O S S   P L A T F O R M
//////////////////////////////////////////////////////////*/

body { margin: 0; }

#content {
    border-top: solid;
    border-bottom: solid;
    border-width: 0.2vmax;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

a, 
p, 
span { font-family: 'quicksand-regular', Verdana, serif; color: #000; }

h1 { 
    font-family: 'vogue-regular', Verdana, serif;
    font-style: bold;
    color: #000;
    text-align: center;
}

.logo {
    margin: 2vh;
    position: relative;
    text-align: center;
}
.logo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.navigation { text-align: center; margin: 1vmax 0; }
.navigation a { display: inline-block; }

.banner { 
    text-align: center; 
    border-top: solid; 
    border-width: 0.2vmax; 
    background-color: #9c640c;
}
.banner p { font-family: 'quicksand-bold', Verdana, serif; color: #000;margin: 0; padding: 1vmax; }

.home-text h1 { font-family: 'architects-daughter', Arial, sans-serif; color: #fff;}
.home-text p { color: #fff; }

.container { position: relative; text-align: center; }

.opening-hours {
    font-family: 'quicksand-regular', Verdana, serif;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}
.opening-hours th { text-align: right; }

#contact-info div, #location div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-info img, #location img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.map-container { position: relative; }
.map-container iframe {
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer { text-align: center; overflow-x: hidden; }
footer a > img { margin-left: 10px; margin-right: 10px; }
/* .tetw a { font-family: 'quicksand-regular', Verdana, serif; color: #000; } */
.tetw-logo { font-family: 'blackout-midnight', Verdana, serif; text-align: center; }

/*//////////////////////////////////////////////////////////
// L A Y O U T   M O B I L E   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1300px) {

    .logo { height: 20vmax; }
    .navigation a { width: 10vmax; }

    .home-text h1 { font-size: 8vmax; }
    .home-text p { font-size: 2vmax; }

    .container {
        margin: 2vh auto;
        max-width: 90vw;
        position: relative;
        text-align: center;
    }
    h1 { font-size: 3vmax; }
    a, p, span { font-size: 1.9vmax; }

    #contact-info div:first-of-type, #location div:first-of-type { padding-top: 1vmax; }
    #contact-info div, #location div:first-of-type { padding-bottom: 1vmax; }
    #contact-info img, #location img { max-width: 1.5vmax; padding-right: 1vmax; }

    .map-container { height: 40vmax; }

    footer a { font-size: 2vmax; }
    footer p { font-size: 2vmax; }
    footer img { max-height: 10vmax; }
    footer .tetw { font-size: 2vmax; margin: 2vmax; }
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   P C   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (min-width: 1301px) {

    .logo { height: 15vmax; }
    .navigation a { width: 5vmax; }

    .home-text h1 { font-size: 5vmax; }
    .home-text p { font-size: 1vmax; }

    .container { margin: 2vh auto; max-width: 70vw; }
    h1 { font-size: 2.5vmax; }
    a, p, span { font-size: 1vmax; }

    #contact-info div:first-of-type, #location div:first-of-type { padding-top: 1vmax; }
    #contact-info div, #location div:first-of-type { padding-bottom: 1vmax; }
    #contact-info img, #location img { max-width: 1vmax; padding-right: 0.5vmax; }

    .map-container { height: 30vmax; }

    footer a { font-size: 1vmax; }
    footer p { font-size: 1vmax; }
    footer img { max-height: 4vmax; }
    footer .tetw { font-size: 1vmax; margin: 1vmax; }
}

/*//////////////////////////////////////////////////////////
// I M A G E S
//////////////////////////////////////////////////////////*/

.home-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../res/img/home.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#about img { cursor: pointer; transition: 0.3s; }
#about img:hover { opacity: 0.7;}
#portfolio img { cursor: pointer; transition: 0.3s; }
#portfolio img:hover { opacity: 0.7;}
.row-of-img { display: flex;}
.row-of-img > div:not(:last-child) { margin-right: 2%; }
.img-col-1 { flex: 1; }
.img-col-2 { flex: 0.768; }
.img-col-3 { flex: 0.8; }
.img-row-1-col-1 { flex: 0.75; }
.img-row-1-col-2 { flex: 0.75; }
.img-row-1-col-3 { flex: 0.75; }
.img-row-2-col-1 { flex: 0.8; }
.img-row-2-col-2 { flex: 1.33; }
.img-row-2-col-3 { flex: 0.8; }
.img-row-3-col-1 { flex: 1.33; }
.img-row-3-col-2 { flex: 0.75; }
.img-row-3-col-3 { flex: 1.33; }
.scaled-img { max-width: 100%; height: auto; }

/*//////////////////////////////////////////////////////////
// M O D A L
//////////////////////////////////////////////////////////*/

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    font-family: 'quicksand-regular', Verdana, serif;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #9c640c;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*//////////////////////////////////////////////////////////
// L I G H T B O X
//////////////////////////////////////////////////////////*/

.lightbox-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
}  
.img-slides { display: none; }
.img-slides img { width: 100%; }

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next { right: 0; border-radius: 3px 0 0 3px; }
.prev:hover,
.next:hover { background-color: rgba(0, 0, 0, 0.8); }

.numbertext {
    color: #000;
    font-family: 'quicksand-regular', Verdana, serif;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
#img-lightbox .text {
    font-family: 'quicksand-regular', Verdana, serif;
    text-align: center;
    background-color: #fff;
    padding: 2px 16px;
    color: #000;
}

.dot-container {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-color: #fff;
    margin-bottom: 10%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotactive, .dot:hover { background-color: #000; }

/*//////////////////////////////////////////////////////////
// F O N T S
//////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'architects-daughter';
    src: url('../css/fonts/architects-daughter.woff2') format('woff2'),
         url('../css/fonts/architects-daughter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackout-midnight';
    src: url('../css/fonts/blackout-midnight.woff2') format('woff2'),
         url('../css/fonts/blackout-midnight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand-bold';
    src: url('../css/fonts/quicksand-bold.woff2') format('woff2'),
         url('../css/fonts/quicksand-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand-regular';
    src: url('../css/fonts/quicksand-regular.woff2') format('woff2'),
         url('../css/fonts/quicksand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vogue-regular';
    src: url('../css/fonts/vogue-regular.woff2') format('woff2'),
         url('../css/fonts/vogue-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}