/*//////////////////////////////////////////////////////////
// N A V B A R
//////////////////////////////////////////////////////////*/

.navbar { z-index: 9999; margin-top: 0 !important; }
.navbar-default { background-color: #050028; border-color: #9c640c; }

.navbar-default .navbar-brand {
    font-family: 'architects_daughterregular', Verdana, serif;
    font-size: 25px;
    color: #9c640c;
    background-color: transparent;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover { color: #38335B; background-color: transparent; }

.navbar-default .navbar-nav > li > a { font-family: 'quicksandregular', Verdana, serif; color: #9c640c; }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus { color: #9c640c; background-color: #050028; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover { color: #9c640c; background-color: #38335B; }

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus { border-color: #9c640c; background-color: #050028; }
.navbar-default .navbar-toggle:hover { color: #9c640c; background-color: #38335B; }

/*//////////////////////////////////////////////////////////
// I M A G E S
//////////////////////////////////////////////////////////*/

.home-image {
    margin-top: -15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../res/img/dachshund-box.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9c640c;
}
#about-description img { cursor: pointer; transition: 0.3s; }
#about-description img:hover { opacity: 0.7;}
#portfolio img { cursor: pointer; transition: 0.3s; }
#portfolio img:hover { opacity: 0.7;}
.row-of-img { display: flex;}
.row-of-img > div:not(:last-child) { margin-right: 2%; }
.img-jacket { flex: 1; }
.img-cushions { flex: 0.768; }
.img-bag { flex: 0.8; }
.img-dress-60s-front { flex: 0.75; }
.img-dress-60s-closeup { flex: 0.75; }
.img-dress-60s-back { flex: 0.75; }
.img-dress-camo-front { flex: 0.8; }
.img-dress-camo-making { flex: 1.33; }
.img-dress-camo-back { flex: 0.8; }
.img-cushions-stacked { flex: 1.33; }
.img-making-cushions { flex: 0.75; }
.img-cushions-floral { flex: 1.33; }
.scaled-img { max-width: 100%; height: auto; }

/*//////////////////////////////////////////////////////////
// M O D A L
//////////////////////////////////////////////////////////*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    font-family: 'quicksandregular', Verdana, serif;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #9c640c;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*//////////////////////////////////////////////////////////
// L I G H T B O X
//////////////////////////////////////////////////////////*/
  
/* Lightbox Content */
.lightbox-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
}
  
/* Hide the slides by default */
.imgSlides { display: none; }
  
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #9c640c;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next { right: 0; border-radius: 3px 0 0 3px; }
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover { background-color: rgba(0, 0, 0, 0.8); }
  
/* Number text (1/3 etc) */
.numbertext {
    color: #9c640c;
    font-family: 'quicksandregular', Verdana, serif;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* Caption text */
#imgLightbox .text {
    font-family: 'quicksandregular', Verdana, serif;
    text-align: center;
    background-color: #050028;
    padding: 2px 16px;
    color: #9c640c;
}
  
/* The dots/bullets/indicators */
.dot-container {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-color: #050028;
    margin-bottom: 10%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotactive, .dot:hover { background-color: #9c640c; }

/*//////////////////////////////////////////////////////////
// L A Y O U T   C R O S S   P L A T F O R M
//////////////////////////////////////////////////////////*/

body{ padding-top: 65px; background-color: #38335B; }

.jumbotron { background-color: #050028; margin-bottom: 15px !important; }
.jumbotron h2 { 
    font-family: 'architects_daughterregular', Verdana, serif;
    font-style: bold;
    color: #9c640c;
    padding-bottom: 0.8%;
    text-align: center;
}
.jumbotron h1 { 
    font-family: 'quicksandregular', Verdana, serif;
    font-style: bold;
    color: #9c640c;
    padding-bottom: 0.8%;
    text-align: center;
}
.jumbotron p {
    font-family: 'quicksandregular', Verdana, serif;
    color: #9c640c;
    text-align: center;
}

/* About */
.slogan p { font-style: italic !important; padding-bottom: 0.8%; }
.jumbotron#opening-hours table {
    font-family: 'quicksandregular', Verdana, serif;
    color: #9c640c;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron#opening-hours th { text-align: right; }

/* Contact */
#contact-info div, #location div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-info img, #location img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
#contact-info span, #location span {
    font-family: 'quicksandregular', Verdana, serif;
    color: #9c640c;
}
#contact-info a, #location a {
    font-family: 'quicksandregular', Verdana, serif;
    font-style: italic;
    color: #9c640c;
}
.map-container {
    position: relative;
    height: 0;
    overflow: hidden;
}
.map-container iframe {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
footer { 
    background-color: #050028; 
    margin-top: 0 !important; 
    overflow-x: hidden; 
}
footer .col-xs-4 { text-align: center; }
footer h3 { 
    font-family: 'quicksandregular', Verdana, serif;
    text-align: center;
    color: #693100;
}
footer a { color: #693100; }
footer .TETW { 
    font-family: 'blackout-midnight', Verdana, serif;
    text-align: center;
    color: #693100;
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   M O B I L E   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (max-width: 800px) {

    /* Bootstrap - Navbar */
    .navbar-header { float: none; }
    .navbar-left, .navbar-right { float: none !important; }
    .navbar-toggle { display: block; }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse { display: none !important; }
    .navbar-nav { float: none !important; margin-top: 7.5px; }
    .navbar-nav > li { float: none; }
    .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
    .collapse.in { display: block !important; }

    .jumbotron { padding-top: 25px !important; }
    .jumbotron h2 { font-size: 4.5vw; margin-top: 0 !important; }
    .jumbotron h1 { font-size: 3vw; }
    .jumbotron p { font-size: 3vw; }

    .text-below-row-of-img p { padding-top: 5%; }

    .home-text h1 { font-family: 'architects_daughterregular', Arial, sans-serif; font-size: 5em; }
    .home-text p { font-family: 'quicksandregular', Arial, sans-serif; font-size: 1em; }

    /* About Section */
    .jumbotron#about-description { margin-bottom: 2%; }
    .jumbotron#opening-hours { padding-top: 9%; }
    .jumbotron#opening-hours table { font-size: 3vw; }

    /* Contact Us Section */
    .jumbotron#contact-info { margin-bottom: 2%; }
    .jumbotron#contact-info div { padding-top: 2.5%; }
    .jumbotron#contact-info img { max-width: 4%; }
    .jumbotron#contact-info span { font-size: 3vw; padding-left: 2%; }
    .jumbotron#contact-info a { font-size: 3vw; padding-left: 2%; }
    .jumbotron#location div { padding-top: 0; }
    .jumbotron#location img { max-width: 3.5%; margin-bottom: 5%; }
    .jumbotron#location span {
        font-size: 2.5vw;
        padding-left: 1.5%;
        margin-bottom: 5%;
    }
    .jumbotron#location p { font-size: 2.5vw; padding-top: 2%; }
    .map-container { padding-bottom: 100%; }

    /* Footer */
    footer { padding: 2% 0; }
    footer img {
        height: auto;
        max-width: 100%;
        margin-bottom: 10%
    }
    footer h3 { font-size: 2.5vw; padding-bottom: 1%; }
    footer .TETW { font-size: 3vw; }
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   P C   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (min-width: 801px) {

    .jumbotron h2 { font-size: 2vw; }
    .jumbotron h1 { font-size: 3vw; }
    .jumbotron p { font-size: 1vw; }

    .text-below-row-of-img p { padding-top: 1.5%; }

    .home-text h1 { font-family: 'architects_daughterregular', Arial, sans-serif; font-size: 8em; }
    .home-text p { font-family: 'quicksandregular', Arial, sans-serif; font-size: 2em; }

    /* About Section */
    .jumbotron#opening-hours { padding-top: 2%; }
    .jumbotron#opening-hours table { font-size: 1vw; }

    /* Contact Us Section */
    .jumbotron#contact-info div { padding-top: 0.5%; }
    .jumbotron#contact-info img { max-width: 0.9%; }
    .jumbotron#contact-info span { font-size: 1vw; padding-left: 0.8%; }
    .jumbotron#contact-info a { font-size: 1vw; padding-left: 0.8%; }
    .jumbotron#location div { padding-top: 0.5%; }
    .jumbotron#location img { max-width: 0.9%; margin-bottom: 1.5%; }
    .jumbotron#location span {
        font-size: 1vw;
        padding-left: 0.8%;
        margin-bottom: 1.5%;
    }
    .jumbotron#location p { font-size: 1vw; padding-top: 1%; }
    .map-container { padding-bottom: 30%; }

    /* Footer */
    footer { padding: 2% 0; }
    footer img { height: auto; max-width: 50%; }
    footer h3 { font-size: 0.8vw; padding-bottom: 1%; }
    footer .TETW { font-size: 1vw; }
}

/*//////////////////////////////////////////////////////////
// F O N T S
//////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'architects_daughterregular';
    src: url('../css/fonts/architectsdaughter-webfont.woff2') format('woff2'),
         url('../css/fonts/architectsdaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackout-midnight';
    src: url('../css/fonts/blackout-midnight-webfont.woff2') format('woff2'),
         url('../css/fonts/blackout-midnight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../css/fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold';
    src: url('../css/fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
